*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    background: grey;
    padding: 20px 0px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
ul li{
       text-decoration: none;
}